extend layout
block content
  .row
    .col-md-12
      form(class='form-search pull-right', action=reponame + '/tree/' + branch + '/search', method='POST')
        input(type='search', name='query', class='form-control', placeholder='Search tree &hellip;')
      .btn-group.pull-left
        button.btn.btn-default.dropdown-toggle(data-toggle='dropdown')
          = 'browsing: '
          strong= branch + ' '
          span.caret
        ul.dropdown-menu
          li.dropdown-header= 'Branches'
          each val in heads
            li
              a(href='/' + reponame + '/' + val)= val
          li.divider
          li.dropdown-header= 'Tags'
          each val in tags
            li
              a(href='/' + reponame + '/' + val)= val
      ul.nav.nav-tabs
        li.active
          a(href='/' + reponame + '/' + branch)= 'Files'
        li
          a(href='/' + reponame + '/commits/' + branch)= 'Commits'
  ol.breadcrumb
    li
      a(href='/' + reponame + '/' + branch)= reponame
    each val, index in breadcrumb
      li
        a(href='/' + reponame + '/tree/' + branch + '/' + val + '%2F')= val 
  table.table.table-hover
    thead
      tr
        th(width="80%")='name'
        th(width="10%")='mode'
        th(width="10%")='size'
    tbody
      each val, index in directoryContents
        tr
          td
            if (val.contentType != 'blob')
              span.glyphicon.glyphicon-folder-open
              = ' '
              a(href='/' + reponame + '/tree/' + branch + '/' + index.replace('/', '%2F') + '%2F')= val.contentName
            else
              span.glyphicon.glyphicon-file
              = ' '
              a(href='/' + reponame + '/blob/' + branch + '/' + index.replace(/\//g, '%2F'))= val.contentName
          td=val.mode
          td=val.fileSize
