doctype html
html(lang='en')
  head
    title #{title} - GitList.js
    link(rel='stylesheet', href='/styles/min/style.css')
  body
    .navbar.navbar-scroll-top.navbar-inverse
      .navbar-inner
        .container
          a(class='navbar-brand', href='/')= "GitList.js"
    .container
      block content
    footer
      .container
        p= 'Running on '
          a(href='http://nodejs.org', target='_blank')= 'Node.js'
          = ' with '
          a(href='http://expressjs.com', target='_blank')= 'Express'
          = ' and '
          a(href='http://jade-lang.com', target='_blank')= 'Jade'
          = ' using '
          a(href='http://getbootstrap.com', target='_blank')= 'Twitter Bootstrap'
          = ' with '
          a(href='http://glyphicons.com', target='_blank')= 'Glyphicons'
    script(src='/scripts/min/jqboot.js')
    if codemode && codemode != 'image'
      script(src='/scripts/min/cm.js')
      if codemode != 'null'
        script(src='/scripts/vendor/CodeMirror/mode/#{codemode}/#{codemode}.js')
      script(src='/scripts/cm-js.js')
